body{
    background-color: blueviolet;
    margin: 0px;
}
header{
    text-align: center;

}

header img{
    border-radius: 220px;
    width: 400;
    width: 400px;
    border: solid 20px floralwhite;

}